@font-face {
	font-family: tomo;
	src: url(tomo.ttf);
}

body {
	background-image: linear-gradient(to bottom, #000, #020);
	background-color: #040;
}

canvas {
	width: 512px;
	height: 512px;
	background-color: #080;
}

#IC {
	border: 2px lime ridge;
	border-right: none;
	width: 90px;
	color: lime;
	background-image:linear-gradient(to right, #000, #010);
}

.tube {
	border: 2px lime ridge;
	border-right: none;
	background-image:linear-gradient(to right, #010, #030);
	font-family: tomo;
	color: lime;
	font-size: small;
	padding: 4px 4px 0 8px;
	width: 190px
}

textarea {
	background-image: linear-gradient(to right, #000, #080);
	resize: none;
	border: 2px lime ridge;
	border-bottom: none;
	border-right: none;
	height: 480px;
	width: 512px;
	color: lime;
	background-color: black;
}

button {
	width: 512px; height: 32px;
	color: lime;
	background-image: linear-gradient(to right, #030, #080);
	border: 2px lime ridge;
	border-right: none;
	font-family: tomo;
}

flex {
	width: 512px;
	display: flex;
}

.flex {
	display: flex;
}

.flexgrow {
	flex-grow: 1;
}

#maindiv {
	width: 1024px;
	padding-left: 12%;
	padding-top: 4%;
}

#mainflex {
	height: 512px
}

#error {
	font-family: tomo;
	font-size: large;
	color: #fff;
}

#pad {
	border-right: 2px lime ridge;
}

header, details {
	font-family: tomo;
	font-size: large;
	color: #fff;
}

ast {
	color: #c24
}